@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  p {
    &:empty {
      height: 0.5rem;
    }
  }
}

.noise {
  position: absolute;
  overflow: hidden;
  &::after {
    content: "";
    background-image: url(/svg/noise.svg);
    @apply absolute bottom-0 left-0 right-0 top-0 opacity-50 contrast-200;
  }
}

$dark: #36454f;
$darky: #5c768e;
$mid: #8c9aa4;
$lighty: #b4c1cc;
$light: #e8f0f5;

@keyframes top-color {
  0% {
    background-color: $dark;
    height: 55vmax;
  }
  50% {
    background-color: $darky;
    height: 60vmax;
  }
  100% {
    background-color: $dark;
    height: 60vmax;
  }
}

@keyframes bottom-color {
  0% {
    @apply bg-red-400;
    height: 60vmax;
  }
  50% {
    @apply bg-yellow-400;
    height: 45vmax;
  }
  100% {
    @apply bg-sky-400;
    height: 55vmax;
  }
}

@keyframes top-size {
  0% {
    height: 55vmax;
  }
  50% {
    height: 60vmax;
  }
  100% {
    height: 60vmax;
  }
}

@keyframes bottom-size {
  0% {
    height: 60vmax;
  }
  50% {
    height: 45vmax;
  }
  100% {
    height: 55vmax;
  }
}

@keyframes bg-color {
  0% {
    @apply bg-pink-200;
  }
  50% {
    @apply bg-orange-200;
  }
  100% {
    @apply bg-teal-200;
  }
}

.top-scircle {
  will-change: transform;
  animation: top-size ease-in-out 10s infinite alternate;
}

.bottom-scircle {
  will-change: transform;
  animation: bottom-size ease-in-out 10s infinite alternate;
}

.top-circle {
  will-change: transform;
  animation: top-color ease-in-out 10s infinite alternate;
}

.bottom-circle {
  will-change: transform;
  animation: bottom-color ease-in-out 10s infinite alternate;
}

.bg-noise {
  animation: bg-color ease-in-out 10s infinite alternate;
}

.text-shadow {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut ease-in-out 0.3s forwards;
}

@keyframes hover-anim {
  0% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

.hover-anim {
  animation: hover-anim 1s ease-in-out infinite alternate;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  background: $darky;
}
